[Desktop Entry]
Type=Application
Name=Crunchyroll
Comment=Watch Crunchyroll
Exec=electron /opt/plasmatv-apps/streaming-crunchyroll
Icon=video-television
Categories=AudioVideo;Video;
X-Plasma-Bigscreen=true
