[Desktop Entry]
Type=Application
Name=DAZN
Comment=Watch DAZN
Exec=electron /opt/plasmatv-apps/streaming-dazn
Icon=video-television
Categories=AudioVideo;Video;
X-Plasma-Bigscreen=true
