[Desktop Entry]
Type=Application
Name=ESPN
Comment=Watch ESPN
Exec=electron /opt/plasmatv-apps/streaming-espn
Icon=video-television
Categories=AudioVideo;Video;
X-Plasma-Bigscreen=true
