[Desktop Entry]
Type=Application
Name=Spotify
Comment=Watch Spotify
Exec=electron /opt/plasmatv-apps/streaming-spotify
Icon=video-television
Categories=AudioVideo;Video;
X-Plasma-Bigscreen=true
